<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    title= title
  body
    nav
      a(href='/') home
      div
        if user
          form(method='post' action='/users/logout')
            button(type="submit") logout
        else
          a(href='/users/register') signup   
          a(href='/users/login') login
    block content
    
    block sidebar
    footer
      p brought to you by the September a/A cohort