<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    nav
      a(href='/') home
    div.sidebar 
      div sidebar content
    block content
    
    block sidebar
    footer
      p brought to you by the September a/A cohort